/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Less visible color */
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly more visible on hover */
  }
  
  .custom-scrollbar {
    padding-right: 8px; /* Move the scrollbar to the right */
  }
  
  /* NotificationList.css */

.relative {
  position: relative;
}

.h-screen {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}